# Creado por https://www.toptal.com/developers/gitignore/api/visualstudio
# Editar en https://www.toptal.com/developers/gitignore?templates=visualstudio

### VisualStudio ###
## Ignorar los archivos temporales de Visual Studio, los resultados de compilación y
## archivos generados por complementos populares de Visual Studio.
##
## Obtén la información más reciente en https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Archivos específicos del usuario
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos específicos del usuario (MonoDevelop/Xamarin Studio)
*.userprefs

# Archivos generados automáticamente por Mono
mono_crash.*

# Resultados de la compilación
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eliminar/
[Rr]eliminares/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Directorio de caché/opciones de Visual Studio 2015/2017
.vs/
# Descomente si tiene tareas que crean los archivos estáticos del proyecto en wwwroot
#wwwroot/

# Archivos generados automáticamente por Visual Studio 2017
Archivos generados/

# Resultados de la prueba MSTest
Resultado de prueba*/
Resultado de prueba*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Resultados de la compilación de un proyecto ATL
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Resultados de la prueba comparativa
BenchmarkDotNet.Artifacts/

# .NET Core
proyecto.lock.json
proyecto.fragmento.lock.json
artefactos/

# Andamiaje ASP.NET
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Archivos creados por Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Archivos de prueba de Chutzpah
_Chutzpah*

# Archivos de caché de Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.archivocaché
*.VC.db
*.VC.VC.opendb

# Generador de perfiles de Visual Studio
*.psess
*.vsp
*.vspx
*.sap

# Archivos de seguimiento de Visual Studio
*.e2e

# Espacio de trabajo local de TFS 2012
$tf/

# Kit de herramientas de automatización de guía
*.gpState

# ReSharper es un complemento de codificación .NET
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity es un complemento de compilación
_TeamCity*

# DotCover es una herramienta de cobertura de código
*.dotCover

# AxoCover es una herramienta de cobertura de código
.axoCover/*
!.axoCover/settings.json

# Coverlet es una herramienta de cobertura de código gratuita y multiplataforma
cobertura*.json
cobertura*.xml
cobertura*.info

# Resultados de cobertura de Visual Studio Code
*.cobertura
*.xmlcobertura

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Banco de trabajo web (sass)
.sass-cache/

# Carpeta de salida de Installshield
[Ee]xpress/

# DocProject es un complemento generador de documentación
DocProject/buildhelp/
DocProject/Ayuda/*.HxT
DocProject/Ayuda/*.HxC
DocProject/Ayuda/*.hhc
DocProject/Ayuda/*.hhk
DocProject/Ayuda/*.hhp
DocProject/Ayuda/Html2
DocProject/Help/html

# Directorio de un solo clic
publish/

# Publicar salida web
*.[Pp]ublish.xml
*.azurePubxml
# Nota: Comente la siguiente línea si desea verificar la configuración de implementación web
# pero las cadenas de conexión de la base de datos (con posibles contraseñas) no estarán cifradas
*.pubxml
*.publishproj

# Configuración de publicación de la aplicación web de Microsoft Azure. Comente la siguiente línea si desea
# verifica la configuración de publicación de su aplicación web de Azure, pero contiene información confidencial
# en estos scripts no estarán cifrados
PublishScripts/

# Paquetes NuGet
*.nupkg
# Paquetes de símbolos NuGet
*.snupkg
# La carpeta de paquetes se puede ignorar debido a la restauración de paquetes
**/[Pp]paquetes/*
# excepto build/, que se utiliza como un destino de MSBuild.
!**/[Pp]paquetes/compilación/
# Descomente si es necesario; sin embargo, generalmente se regenerará cuando sea necesario
#!**/[Pp]ackages/repositories.config
# Los archivos project.json de NuGet v3 producen más archivos que se pueden ignorar
*.nuget.props
*.nuget.targets

# Salida de compilación de Microsoft Azure
csx/
*.build.csdef

# Emulador de Microsoft Azure
ecf/
rcf/

# Directorios y archivos de paquetes de aplicaciones de la Tienda Windows
AppPackages/
BundleArtifacts/
Paquete.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Archivos de caché de Visual Studio
# Los archivos que terminan en .cache se pueden ignorar
*.[Cc]ache
# pero mantener un registro de los directorios que terminan en .cache
!?*.[Cc]ache/

# Otros
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Incluir archivos con nombres seguros puede representar un riesgo de seguridad
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Dado que hay varios flujos de trabajo, descomente la siguiente línea para ignorar bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#componentes_de_bower/

# Proyectos RIA/Silverlight
Código generado/

# Copia de seguridad y archivos de informes de la conversión de un archivo de proyecto antiguo
# a una versión más reciente de Visual Studio. No se necesitan copias de seguridad.
# porque tenemos git ;-)
_Archivos de informe de actualización/
Copia de seguridad*/
Registro de actualización*.XML
Registro de actualización*.htm
ServiceFabricBackup/
*.rptproj.bak

# Archivos de SQL Server
*.mdf
*.ldf
*.ndf

# Proyectos de inteligencia empresarial
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# Archivo de configuración del complemento GhostDoc
*.GhostDoc.xml

# Herramientas de Node.js para Visual Studio
.ntvs_analysis.dat
node_modules/

# Registro de compilación de Visual Studio 6
*.plg

# Archivo de opciones del espacio de trabajo de Visual Studio 6
*.opt

# Archivo de espacio de trabajo generado automáticamente por Visual Studio 6 (contiene qué archivos estaban abiertos, etc.)
*.vbw

# Archivo de proyecto generado automáticamente por Visual Studio 6 (contiene qué archivos se abrieron, etc.)
*.vbp

# Espacio de trabajo de Visual Studio 6 y archivo de proyecto (archivos de proyecto de trabajo que contienen archivos para incluir en el proyecto)
*.dsw
*.dsp

# Archivos técnicos de Visual Studio 6

# Salida de compilación de Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Extensiones privadas

# Administrador de dependencias de paquetes
.paket/paket.exe
archivos-de-paquetes/

# FAKE - F# Make
.fake/

# Configuración personal de CodeRush
.cr/personal

# Herramientas de Python para Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Descomente si lo está usando
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Archivo de configuración JustMock de Telerik
*.jmconfig

# Salida de la compilación de BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Resultados del análisis de la interfaz de usuario de OpenCover
OpenCover/

# Salida de ejecución local de Azure Stream Analytics
ASALocalRun/

# Registro binario y estructurado de MSBuild
*.binlog

# Archivo de configuración del depurador de GPU NVidia Nsight
*.nvuser

# Carpeta de trabajo de MFractors (herramienta de productividad de Xamarin)
.mfractor/

# Historial local para Visual Studio
.localhistory/

# Archivos de historial de Visual Studio (VSHistory)
.vshistory/

# Base de datos temporal de comprobación de estado de BeatPulse
healthchecksdb

# Carpeta de respaldo para la herramienta Convertir referencia de paquete en Visual Studio 2017
Copia de seguridad de migración/

# Carpeta de trabajo de Ionide (herramientas multiplataforma de F# y VS Code)
.ionide/

# Fody - esquema XML generado automáticamente
FodyWeavers.xsd

# Archivos de VS Code para quienes trabajan con múltiples herramientas
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Historial local para Visual Studio Code
.history/

# Archivos de Windows Installer de los resultados de la compilación
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml

### Parche de Visual Studio ###
# Archivos adicionales creados por Visual Studio

# Fin de https://www.toptal.com/developers/gitignore/api/visualstudio